---
import HomeLayout from "../../layouts/HomeLayout.astro";
import { getCollection } from "astro:content";
import type { Tag } from "../../content/config";

const { searchParams } = Astro.url;

const tag = searchParams.get("tag") as Tag | null;

const posts = await getCollection("blog", (entry) => (tag ? entry.data.tags.includes(tag) : true));
---

<HomeLayout title="Blog" description="Things i learned, use and like to share.">
  {
    posts.length ? (
      <main class="flex flex-col gap-8 py-10">
        {posts.map((post) => (
          <div class="flex flex-col">
            <h3 class="text-2xl font-bold">
              <a href={`/b/${post.slug}`}>{post.data.title}</a>
            </h3>
            <div class="mt-1 flex gap-2 items-center">
              <span class="text-sm text-stone-600 dark:dark:text-zinc-400">
                {post.data.date || ""}
              </span>
              {post.data.tags.map((tag) => (
                <a
                  href={`/b?tag=${tag}`}
                  class="text-xs px-2 rounded-full bg-gradient-to-tr from-sky-100 to-fuchsia-100 dark:text-zinc-800 dark:from-indigo-200 dark:to-fuchsia-200"
                  title={`Filter Posts for ${tag}`}
                >
                  {tag}
                </a>
              ))}
            </div>

            <p class="mt-3 text-stone-800 text-justify dark:text-zinc-400">
              {post.data.description}
            </p>
            <a href={`/b/${post.slug}`} class="font-semibold mt-3 underline hover:decoration-wavy">
              read more
            </a>
          </div>
        ))}
      </main>
    ) : (
      <main class="flex flex-col gap-8 py-10 items-center">
        <h2 class="text-2xl font-semibold text-center">
          Oops, nothing found for the category{" "}
          <span class="italic font-normal text-stone-600 dark:dark:text-zinc-400">"{tag}"</span>.
          Sorry! 🧂
        </h2>
        <a href="/b" class="font-semibold mt-3 underline hover:decoration-wavy">
          go back
        </a>
      </main>
    )
  }
</HomeLayout>
