---
import { getCollection } from "astro:content";
import Layout from "@astro/Layout.astro";

export const prerender = true;

const things = await getCollection("things", ({ data }) => {
  return import.meta.env.DEV || !data.draft;
});
---

<Layout title="linusthe.dev" description="My personal website, some tutorials and more.">
  <main class="flex flex-col gap-8 py-10">
    {
      things.map(({ data, slug }) => {
        const { tags, description, title, date } = data;

        return (
          <div class="flex flex-col group">
            <h3 class="text-2xl font-bold">
              <a href={`/${slug}`}>{title}</a>
            </h3>

            <div class="mt-1 flex gap-2 items-center">
              <span class="text-sm text-stone-600 dark:dark:text-zinc-400">{date || ""}</span>

              {tags.map((tag) => (
                <span class="tag opacity-0 group-hover:opacity-100 transition-opacity">{tag}</span>
              ))}
            </div>

            <p class="mt-3 text-stone-800 text-justify dark:text-zinc-400">{description}</p>

            <a href={`/${slug}`} class="font-semibold mt-3 underline hover:decoration-wavy mr-auto">
              read more
            </a>
          </div>
        );
      })
    }
  </main>
</Layout>
